enable
conf t

vlan 560
  name web
  
interface Ethernet3
  switchport access vlan 560
  
interface Loopback0
  ip address 10.0.0.1/32

ip virtual-router mac-address 00:1c:73:00:00:99

interface Vlan560
  ip address 172.16.1.254/24
  ip virtual-router address 172.16.1.254
  
interface Vxlan1
  vxlan source-interface Loopback0
  vxlan udp-port 4789
  vxlan vlan 560 vni 560100
  
router bgp 65899
  neighbor 10.255.0.1 remote-as 65899
  neighbor 10.255.0.1 update-source Loopback0
  neighbor 10.255.0.1 description overlay leaf1 -> spine1
  neighbor 10.255.0.1 send-community extended
  neighbor 10.255.0.2 remote-as 65899
  neighbor 10.255.0.2 update-source Loopback0
  neighbor 10.255.0.2 description overlay leaf1 -> spine2
  neighbor 10.255.0.2 send-community extended
  neighbor 10.255.1.1 remote-as 65899
  neighbor 10.255.1.1 description underlay leaf1 -> spine1
  neighbor 10.255.2.1 remote-as 65899
  neighbor 10.255.2.1 description underlay leaf1 -> spine2
  !
  vlan 560
      rd 10.0.0.1:560
      route-target both 65899:560
      redistribute learned
  !
  address-family evpn
      neighbor 10.255.0.1 activate
      neighbor 10.255.0.2 activate
      maximum-paths 2 ecmp 2
  !
  address-family ipv4
      neighbor 10.255.1.1 activate
      neighbor 10.255.2.1 activate
      network 10.0.0.1/32
      redistribute connected
      maximum-paths 2 ecmp 2
end
conf t
configure
sflow source-interface Loopback0
sflow vrf default destination 10.255.9.2 6343
sflow sample 1000
sflow run
write mem
